*{
	margin:0px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-family:sans-serif;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

#toolbar{
	width:100%;
	height:60px;
	padding:10px;
	position:fixed;
	top:0;
	background-color:#2f2f2f;
	color:white;
	
}
.radcontrol1{
	width:30px;
	height:30px;
	background-color:#4f4f4f;
	display:inline-block;
	text-align:center;
	padding:5px;
}
#rad{
	float:left;
}
#colors{
	float:right;
}
.swatch{
	width:30px;
	height:30px;
	border-radius:15px;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.5),0px 1px 0px rgba(0,0,0,0.5);
	display:inline-block;
	margin-left:10px;
	background-color:red;
}
.swatch.active{
	border:2px solid white;
	box-shadow:inset 0px 1px 2px rgba(0,0,0,0.5);
}
 
#canvas {
	display:block;
}
#save{
	float:right;
	margin-right:20px;
	height:30px;
	padding:8px;
	background-color:#434343;
	padding-bottom:20px;
	border-radius:5px;
}
#save:hover{
	background-color:#818181;
}

#clear{
	float:right;
	margin-right:5px;
	height:30px;
	padding:8px;
	background-color:#434343;
	padding-bottom:20px;
	border-radius:5px;
}

#clear:hover{
	background-color:#818181;
}

@media only screen and (max-width: 600px) {
	#colors{
		display: flex;
		flex-direction: column;
		float:right;
		margin: 0px;
		padding-right:5px ;
		margin-top: 50px;
	
	}
	#save,#clear{
		margin-top: 5px;
	}
	
}



